@use 'themes' as *

@each $theme, $map in $themes
  @keyframes glow-animation-#{$theme}
    0%
      border: 0.1em solid map-get($map, "glow-color")
      box-shadow: 0 0 0.25em map-get($map, "glow-color")
    50%
      border: 0.2em solid map-get($map, "glow-color")
      box-shadow: 0 0 0.5em map-get($map, "glow-color")
    100%
      border: 0.1em solid map-get($map, "glow-color")
      box-shadow: 0 0 0.25em map-get($map, "glow-color")

  .theme-#{$theme} .border-glow
    -webkit-animation: glow-animation-#{$theme} 0.5s ease forwards
    -o-animation: glow-animation-#{$theme} 0.5s ease forwards
    animation: glow-animation-#{$theme} 0.5s ease forwards

  .border
    border: 1px solid black

  .round
    border-radius: 0.25em