@use 'themes' as *
@import 'container'
@import 'spacing'
@import 'border'

=box-base
  @extend .flex-col
  @extend .p-s
  @extend .align-center

  border-radius: 0.25em
  transition: 0.3s

  @include themify($themes)
    background-color: themed("element-bg-color")

  &:hover
    @include themify($themes)
      background-color: color-hover(themed("element-bg-color"))

  &.folded
    opacity: 50%

    & *
      pointer-events: none

.villain-box
  +box-base

  &.acting
    @extend .border-glow

.hero-box
  +box-base

  &.acting
    @extend .border-glow

